<!--<form accept-charset="UTF-8" action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="name">name</label>
	<input type="text" name="user[name]" id="name">
	<label for="email">email</label>
	<input type="text" name="user[email]" id="email">
	<label for="password">password</label>
	<input type="password" name="user[password_digest]" id="password">
	<input type="submit">
</form>-->

<!--<%= form_for @user, url: {action: 'update'} do |f| %>
  <%= f.text_field :name %>
  <%= f.label :name, "name" %>
  <%= f.text_field :email %>
  <%= f.label :email, "email" %>
  <%= f.text_field :password_digest %>
  <%= f.label :password_digest, "password" %>

  <%= submit_tag("submit") %>

<% end %>-->